<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.sampleProject.Listners.TestListner"></listener>
</listeners>
  <test thread-count="5" name="Testcae_FlightsPageLoading">
	<parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="com.sampleProject.Scripts.LoginTest"/>
      <class name="com.sampleProject.Scripts.RegisterTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
